name: Ruby

on: [push]

jobs:
  build:
    name: "Run Rspec Tests"
    env:
      PUPPET_GEM_VERSION: "~> 8.6.0"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Set up Ruby 3.2

      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2'
    - name: Build and test with Rake
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
        bundle exec rake spec
